.postLinks {
  padding: 0 1rem;
  padding-top: 25px;
  display: flex;
  flex-direction: column;

  a {
    padding: 1rem;
    border-radius: 10px;
    transition: 0.5s ease;
    overflow: hidden;

    & + a {
      margin-top: 48px;
    }

    &:hover {
      filter: brightness(0.9);
      background-color: var(--link-bg-color);
    }

    p {
      margin-top: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 25px;
    }

  }

  button {
    color: var(--links-color);
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    cursor: pointer;

    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;

    margin-top: 59px;
    padding: 5px 10px;
    align-self: flex-start;

    transition: 0.5s ease;

    &:hover {
      filter: brightness(0.9);
      background-color: var(--link-bg-color);
    }
  }

  @media screen and (max-width: 480px) {
    margin-top: 0;

    a {

      h2 {
        font-size: 24px;
      }

      & + a {
        margin-top: 48px;
      }

      &:hover {
        filter: brightness(0.9);
        background-color: var(--link-bg-color);
      }

      p {
        margin-top: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;

      }

    }

    button {
      color: var(--links-color);
      background-color: transparent;
      border: 0;
      border-radius: 5px;
      cursor: pointer;

      font-size: 18px;
      font-weight: 600;
      line-height: 21.78px;

      margin-top: 59px;
      padding: 5px 10px;
      align-self: flex-start;

      transition: 0.5s ease;

      &:hover {
        filter: brightness(0.9);
        background-color: var(--link-bg-color);
      }
    }
  }
}
