.postLinks {
  padding: 25px 1rem 50px;
  display: flex;
  flex-direction: column;

  a {
    padding: 1rem;
    border-radius: 10px;
    transition: 0.5s ease;
    overflow: hidden;
    // background-color: red;

    & + a {
      margin-top: 38px;
    }

    &:hover {
      filter: brightness(0.9);
      background-color: var(--link-bg-color);
    }

    .postSubtitle {
      margin-top: 8px;
      margin-bottom: 25px;

      color: var(--text-color);
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }

  }

  button {
    color: var(--links-color);
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    cursor: pointer;

    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;

    margin-top: 59px;
    padding: 5px 10px;
    align-self: flex-start;

    transition: 0.5s ease;

    &:hover {
      filter: brightness(0.9);
      background-color: var(--link-bg-color);
    }
  }

  @media screen and (max-width: 480px) {
    padding-top: 0;
    a {
      h2 {
        font-size: 20px;
        line-height: 28px;
      }

      & + a {
        margin-top: 28px;
      }

      .postSubtitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    button {
      font-size: 16px;
      margin-top: 49px;
    }
  }
}
