.header {
  width: 100%;
}

.headerContainer {
  // max-width: 1440px;
  max-width: 732px;
  padding: 40px 2rem;
  margin: 0 auto;

  a {
    img {
      width: 238.62px;
      height: 25.63px;
    }
  }
}
